<p><a href="{% url "book_library:index" %}">BookShelf</a> -
<a href="{% url "book_library:genres" %}">Browse Genres</a>

{% if user.is_authenticated %}

    Welcome, {{ user.username }}
    {% else %}
    <a href="{% url "accounts:register" %}">Register</a>
    <a href="{% url "accounts:login" %}">Sign in</a>
{% endif %}
</p>

{% block content %}
{% endblock  %}

{% if user.is_authenticated %}
<hr>
<form action="{% url "accounts:logout" %}"method="post">
    {% csrf_token %}
    <button>Log out</button>
</form>

{% endif %}


