{% extends "book_library/base.html" %}

{% block content %}
    <p>Browsing: {{genre.name}}</p>
    <a href="{% url "book_library:new_book" genre.id%}">Add a book</a>

    <ul>
    {% for book in books %}
        <li>
            <p>{{ book.date_added|date:"M d, Y H:i" }}</p>
            {{ book.title }}
                <p>{{ book.description |linebreaks}}</p>
                <a href="{% url "book_library:edit_book" book.id %}"><p>Update book</p></a>            
        </li>
        {%empty%}
        <p>This genre has no books yet.</p>
    {% endfor %}
    </ul>
{% endblock content %}